<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sneakers Place</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/sneakers">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/last-collection">Last Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quiz">Quiz</a>
                </li>
            </ul>
            <ul class="d-flex navbar-nav">
                <% if (typeof userId === 'undefined') { %>
                    <li class="nav-item">
                        <a href="/auth/login" class="nav-link"><%= lang === 'en' ? 'Login' : 'Вход' %></a>
                    </li>
                    <li class="nav-item">
                        <a href="/auth/register" class="nav-link"><%= lang === 'en' ? 'Register' : 'Регистрация' %></a>
                    </li>
                <% } else {
                %>
                <!-- Если не аутентифицирован, отображаем "Register" и "Login" -->
                <li>
                    <a class="navbar-brand" href="/auth/logout"><%= lang === 'en' ? 'Logout' : 'Выход' %></a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>