<footer class="footer mt-auto py-3 bg-body-tertiary" style="bottom: 0px; width: 100%">
    <div class="container">
        <span class="text-body-secondary">Zholaman Marshiitov SE-2205.</span>
    </div>
</footer>